<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    </div class="main-content">
    {{>header}}
    This is about page, created by Akhil kumar. This website collect data from third-party app to show here.
    <img class="portrait" src="/img/Akhil.jpg">
    </div>
    {{>footer}}
</body>

</html>